/* Posts.css */

.dashboard-container {
  margin: 20px;
}

.post {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.post-image img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.post-details {
  flex: 1;
}

.post-details h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-details p {
  margin: 5px 0;
}

.post-details p:first-child {
  font-weight: bold;
}

.post-details p span {
  font-weight: normal;
}

.custom-modal { /* Updated class name */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal .modal-content { /* Updated class name */
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

.custom-modal .modal-content h3 { /* Updated class name */
  margin-top: 0;
}

.custom-modal .modal-content button { /* Updated class name */
  margin-top: 10px;
}
